

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Votação :)</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<div>
		<h1>Lista para decidirmos aonde iremos almoçar</h1>
	</div>

	<span id="msgSucesso" th:text="${sucesso}"></span>
	


	<table class="table">
		<tr>
			<th>Profissional</th>
			<th>Restaurante</th>
		</tr>
		<tr th:each="voto : ${votos}">
			<td th:text="${voto.profissional.nome}"></td>
			<td th:text="${voto.restaurante.nome}"></td>
		</tr>
	</table>
	
	<a th:href="@{/}">Voltar</a>
	
</body>
</html>